<%= render "profile", user: @user %>

<% if current_user.id == @user.id || current_user.friends.exists?(id: @user.id) %>
<div class="container">
  <div class="row justify-content-center my-5">
    <div class="col-10">
      <% @posts.each do |post| %>
        <%= render partial: "posts/post", locals: { post: post, liked: post.id.in?(@posts_liked_by_current_user) } %>
      <% end %>
    </div>
  </div>
</div>
<% end %>
