  <div class="container my-2">
  <div class="row justify-content-center">
    <div class="col-12">
      <% if params[:show] == "friends" && !@friend_request_users.empty? %>
        <h5>Friend requests</h5>

        <% @friend_request_users.each do |user| %>
          <%= render "profiles/profile", user: user %>
        <% end %>
      <% end %>

      <% if params[:show] == "friends" %>
        <% if !@users.empty? %>
          <h5>My friends</h5>
        <% end %>
      <% else %>
        <h5>All users</h5>
      <% end %>

      <% @users.each do |user| %>
        <%= render "profiles/profile", user: user %>
      <% end %>
    </div>
  </div>
</div>
