<%= form_with model: @post,
      data: { controller: "reset-form", action: "turbo:submit-end->reset-form#reset" } do |form| %>
  <%= form.text_area :body, class: "form-control border border-secondary-subtle", placeholder: "What's on your mind?" %>

  <%= form.submit "Add post", class: "btn btn-primary float-end" %>

  <div>
    <ul>
    <% @post.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>
