<h1>Posts#index</h1>

<div>This is a test if Bootstrap works correctly...</div>

<div class="container text-center my-5">
  <div class="row">
    <div class="col">
      Column
    </div>
    <div class="col">
      Column
    </div>
    <div class="col">
      Column
    </div>
  </div>
</div>
