<div class="container">
  <div class="row justify-content-center">
    <div class="col-10 my-4">
      <%= render "form" %>
    </div>
  </div>
  <div class="row justify-content-center">
    <div class="col-10">
      <%= turbo_frame_tag "posts" do %>
        <% @posts.each do |post| %>
          <%= render partial: "post", locals: { post: post } %>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
